 
  <app-grid [hidden]="mode != PageModes.List" [entityName]="'Personel'" [(columns)]="columns" [(mode)]="mode" [Authority]="'Personel.Show'" (call)="run($event)"></app-grid>
 

<div *ngIf="mode == PageModes.Create || mode == PageModes.Update" fxFill>
  <form #personelForm="ngForm">
    <mat-card>
      <mat-card-content>
        <div class="tab-content">
          <mat-card-content fxLayout="column">
            <mat-form-field class="fullwidth">
              <input name="id" matInput placeholder="Id" disabled [(ngModel)]="grid.newItem.Id">
            </mat-form-field>

            <mat-form-field class="fullwidth">
              <input matInput type="text" placeholder="Name" maxLength="50" name="Name" required [(ngModel)]="grid.newItem.Name">
            </mat-form-field>
          </mat-card-content>
        </div>

        <button type="submit" [disabled]="!personelForm.valid" mat-raised-button (click)="save()" class="mr-2 btnSave"><mat-icon>save</mat-icon> Save</button>
        <button type="button" mat-raised-button (click)="backToList()" class="mr-2 btnDelete"> <mat-icon>cancel</mat-icon> Cancel</button>

      </mat-card-content>
    </mat-card>
  </form>
</div>
