<div class="row mr-3 p-4">
  <div class="col-12">
    <h2>Profilim</h2>
    <hr />
  </div>
</div>

<div class="row mr-3 p-3">
  <div class="col-6">


  </div>
  <div class="col-6">
    <mat-card class="example-card">
      <form #profilForm="ngForm">
        <mat-card-header>
          <mat-card-title>Bilgilerimi Güncelle</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="tab-content">
            <div class="container">
              <mat-form-field class="fullwidth">
                <input name="id" matInput placeholder="Id" disabled [(ngModel)]="profilModel.id">
              </mat-form-field>

              <mat-form-field class="fullwidth">
                <input matInput type="text" placeholder="Ad" maxLength="50" name="name" required [(ngModel)]="profilModel.name">
              </mat-form-field>

              <mat-form-field class="fullwidth">
                <input matInput type="text" placeholder="Soyad" maxLength="50" name="surname" required [(ngModel)]="profilModel.surname">
              </mat-form-field>

              <mat-form-field class="fullwidth">
                <input matInput type="text" placeholder="E-mail" maxLength="50" name="email" required [(ngModel)]="profilModel.email">
              </mat-form-field>

              <mat-form-field class="fullwidth">
                <input matInput type="text" placeholder="Kullanıcı Adı" maxLength="50" name="username" required [(ngModel)]="profilModel.username">
              </mat-form-field>

              <mat-form-field class="fullwidth">
                <input matInput type="password" placeholder="Eski Şifre" maxLength="50" name="password" disabled required [(ngModel)]="profilModel.password">
              </mat-form-field>

              <mat-form-field class="fullwidth">
                <input matInput type="password" placeholder="Yeni Şifre" maxLength="50" name="newPassword" required [(ngModel)]="profilModel.newPassword">
              </mat-form-field>

              <mat-form-field class="fullwidth">
                <input matInput type="password" placeholder="Şifre Tekrar" maxLength="50" name="reNewPassword" required [(ngModel)]="profilModel.reNewPassword">
              </mat-form-field>

            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" [disabled]="profilForm.invalid" mat-raised-button (click)="save()" class="mr-2 btnSave">
            KAYDET
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
