
  <div class="p-3 position-relative btn-div">
    <div *ngFor="let item of toolbarItems" class="inline-block float-btn  mr-3">
      <button *ngIf="checkClaim(item.claimText)" class="rkm-margin mat-raised-button float-btn {{item.css}}" mat-raised-button [disabled]="item.disabled" (click)="run(item.method, item.toolbarMethod)">
        <!--<mat-icon>{{ item.icon }}</mat-icon>-->
        {{ item.text}}
      </button>
    </div>
  </div>
<ag-grid-angular style="width: 100%; height: 100vh;"
                 class="ag-theme-alpine"
                 [rowData]="rowData"
                 (gridReady)="onGridReady($event)"
                 [frameworkComponents]="frameworkComponents"
                 [rowSelection]="rowSelection"
                 (selectionChanged)="onSelectionChanged($event)"
                 (rowDoubleClicked)="rowDoubleClicked($event)"
                 [columnDefs]="columnDefs">
</ag-grid-angular>
