<app-grid [hidden]="mode != PageModes.List" [extraToolbarItems]="extraToolbarItems" [entityName]="'Shift'"  [multiRowSelection]="multiSelect" [createButtonVisible]="createButtonVisible" [deleteButtonVisible]="deleteButtonVisible" [rowDoubleClick]="doubleRowClick" [useSizeColumnsToFit]="false" [editButtonVisible]="editButtonVisible" [(columns)]="columns" [(mode)]="mode" [Authority]="'Shift.Show'" (call)="run($event)"></app-grid>
<div *ngIf="mode == PageModes.Create || mode == PageModes.Update" fxFill>
  <form #shiftForm="ngForm">
    <mat-card>
      <mat-card-content>
        <div class="tab-content">
          <div class="container">
            <mat-form-field class="fullwidth">
              <input name="id" matInput placeholder="Id" disabled [(ngModel)]="grid.newItem.id">
            </mat-form-field>
            <work-hour-select [(ngModel)]="grid.newItem.userId" name="userId" [placeholder]="'Personel'" [options]="user" [required]="true" #userInput="ngModel"></work-hour-select>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="fullwidth">
                  <input matInput [matDatepicker]="date" [(ngModel)]="grid.newItem.startDate" placeholder="Mesai Başlangıç Tarihi" name="startDate" required>
                  <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                  <mat-datepicker #date></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="fullwidth">
                  <input matInput mask="Hh:m0" minlength="4" placeholder="Mesai Başlangıç Saati" required [(ngModel)]="grid.newItem.startTimeText" name="startTime">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="fullwidth">
                  <input matInput [matDatepicker]="date2" [(ngModel)]="grid.newItem.finishDate" placeholder="Mesai Bitiş Tarihi" name="endDate" required>
                  <mat-datepicker-toggle matSuffix [for]="date2"></mat-datepicker-toggle>
                  <mat-datepicker #date2></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="fullwidth">
                  <input matInput mask="Hh:m0" minlength="4" placeholder="Mesai Bitiş Saati" required [(ngModel)]="grid.newItem.finishTimeText" name="endTime">
                </mat-form-field>
              </div>
            </div>
              <div class="row">
                <div class="col-md-6">
                  <work-hour-select [(ngModel)]="grid.newItem.area" name="area" [placeholder]="'Çalışma Yeri'" [options]="area" [required]="true" #userInput="ngModel"></work-hour-select>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="fullwidth"> 
                    <textarea matInput placeholder="Açıklama" name="explanation" [(ngModel)]="grid.newItem.explanation"></textarea>
                  </mat-form-field>
                </div>
            </div>
            <button type="submit" [disabled]="!shiftForm.valid" mat-raised-button (click)="save()" class="mr-2 btnSave"><mat-icon>save</mat-icon> Save</button>
            <button type="button" mat-raised-button (click)="backToList()" class="mr-2 btnDelete"> <mat-icon>cancel</mat-icon> Cancel</button>
          </div>
        </div>
       

      </mat-card-content>
    </mat-card>
  </form>
</div>
